<div class="m-0 vh-100 row justify-content-center align-items-center">
  <div class="col-auto rounded-4" style="background-color: #121212; color: white;" >
    <div class="container m-2 row">
        <div class="col-auto p-3">
            <h1 class="text-center">APP - ANDREY DEVS</h1>
            <h6 class="text-center">INICIA SESIÓN CON TU CUENTA</h6>
            <form class="pt-3">
                <div class="form-group needs-validation" novalidate>
                    <label>CORREO ELECTRONICO:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-envelope"></i></span>
                        <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
                <div class="form-group">
                    <label>CONTRASEÑA:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-key"></i></span>
                        <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
                <div class="form-group">
                    <div class="form-check form-switch my-2">
                        <div class="row">
                            <div class="col">
                                <label>RECUERDAME</label>
                                <input type="checkbox" name="inputRemember" id="inputRemember" class="form-check-input">
                            </div>
                        </div>

                    </div>
                </div>
                <div class="d-grid text-center py-3">
                    <button class="btn btn-primary btn-lg">INICIAR SESIÓN</button>
                </div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-end">¿NO TIENES CUENTA?</h6>
                        </div>
                        <div class="col">
                            <a class="text-start" [routerLink]="environmentRegister"><h6>REGISTRATE GRATIS</h6></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
