<div class="d-inline justify-content-center">
    <div class="text-box-title">
        <h3 class="text-about-us-title">
            SOBRE NOSOTROS
        </h3>
    </div>
    <div class="box-about-us container d-flex justify-content-center align-items-center">
        <div class="row">
            <div class="col-5 text-center">
                <img src="assets/about-us-bot.svg" alt="">
            </div>
            <div class="col-7 d-flex align-items-center">
                <div class="text-start">
                    <div class="mb-3">
                        <h5>QUIÉNES SOMOS</h5>
                    </div>
                    <div class="text-about-us">
                        <span>Somos Alfa 3 Eléctricos S.A.S. es una empresa con más de una década de experiencia,
                            dedicada a
                            la
                            comercialización de accesorios electrónicos esenciales.
                            Nos enfocamos en ofrecer soluciones de calidad y duraderas para la gestión eléctrica segura
                            y
                            eficiente. Nos esforzamos por garantizar la seguridad y
                            satisfacción de nuestros clientes.</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>