.text-about-us-title {
  color: #000;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-box-title {
  margin-top: 44px;
  width: 100%;
  margin-bottom: 44px;
}

.text-about-us {
  width: 100%;
}

.box-about-us {
  margin-bottom: 25px;
  width: 1371px;
}
.text-about-us-second {
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: left;
}

.text-about-us-label {
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}
