.text-alfa3 {
  width: 155px;
  height: 50px;
  stroke-width: 1px;
  stroke: #000;
  margin-left: 42px;
}

div {
  height: 83px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

span {
  color: #000;
  font-family: Avenir Next;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.icon-user {
  margin-right: 30px;
}

.cart-user {
  margin-right: 42px;
}

.text-option {
  margin-left: 30px;
  margin-right: 30px;
}
