<app-feed></app-feed>
<app-products></app-products>
<img class="my-3 mx-0" src="assets/plug.svg" width="auto" height="auto" alt="plug">
<!-- <div class="m-0 justify-content-center align-items-start">

  
  <div class="">
    <div class="text-products mb-5">
      <h3>
        SOBRE NOSOTROS
      </h3>
    </div>
    <div class="d-flex justify-content-evenly align-items-center">
      <div class="">
        <img src="assets/about-us-bot.svg" alt="">
      </div>
      <div class="">
        <div class="text-start">
          <div class="mb-3">
            <h5>QUIÉNES SOMOS</h5>
          </div>
          <div class="text-about-us">
            <span>Somos Alfa 3 Eléctricos S.A.S. es una empresa con más de una década de experiencia, dedicada a la
              comercialización de accesorios electrónicos esenciales.
              Nos enfocamos en ofrecer soluciones de calidad y duraderas para la gestión eléctrica segura y
              eficiente. Nos esforzamos por garantizar la seguridad y
              satisfacción de nuestros clientes.</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="" style="background-color: #345B69; margin-top: 112px;">
    <div class="text-products">
      <h3 style="color: white;">
        CONTACTO
      </h3>
    </div>
    <div class="">
      <iframe src="https://www.google.com/maps/d/embed?mid=1p4pEUY8gBsqnI5skcCTglUVac77ZEBo&ehbc=2E312F&noprof=1"
        width="640" height="480"></iframe>
    </div>
  </div>

</div> -->