.text-imagen-div {
  position: absolute;
  top: 246px;
  left: 178px;
  z-index: 1;
  height: 344px;
  width: 1354px;
  background: rgba(217, 217, 217, 0.7);
}

.text-alfa3 {
  width: 394px;
  height: 127px;
}

.text-h1 {
  color: #fff;
  font-weight: bold;
  font-family: "AvenirNext-DemiBold";
  font-size: 40px;
  font-style: normal;
  line-height: normal;
  -webkit-text-stroke: 1px black;
}

.text-h2 {
  color: #fff;
  font-family: Avenir Next;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  -webkit-text-stroke: 1px black;
}

.button-div {
  width: 225px;
  height: 51px;
  border-radius: 50px;
  background: #d9d9d9;
}
