<div class="m-0 justify-content-center align-items-start">
  <div class="info d-flex align-items-center px-0">
    <img [src]="imageNow" alt="Image Now" style="width: 100%; height: 100%; object-fit: cover;">
    <div *ngIf="imageNow == images[0]" class="text-imagen-div d-flex justify-content-center align-items-center">
      <div class="d-flebox text-center align-items-center justify-content-center">
        <h1 class="text-h1">
          ACCESORIOS ELECTRICOS
        </h1>
        <h2 class="text-h2">
          ELEVA LA PROTECCIÓN DE TUS DISPOSITIVOS CON UN TOQUE DE ESTILO EXCEPCIONAL.
        </h2>
        <img class="text-alfa3" src="assets/text-alfa3.png" alt="">
        <div class="d-flex justify-content-center align-items-center">
          <button class="button-div text-center d-flex justify-content-center align-items-center">
            <span>CONTACTO</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="products d-flex justify-content-center align-items-start px-0 ">
    <div class="text-products">
      <h3>
        NUESTROS PRODUCTOS
      </h3>
    </div>
    <div class="product"></div>

  </div>
</div>