<div class="m-0 justify-content-center align-items-start">
  <div class="info d-flex align-items-center px-0">
    <img [src]="imageNow" alt="Image Now" style="width: 100%; height: 100%; object-fit: cover;">
    <div *ngIf="imageNow == images[0]" class="text-imagen-div d-flex justify-content-center align-items-center">
      <div class="d-flebox text-center align-items-center justify-content-center">
        <h1 class="text-h1">
          ACCESORIOS ELECTRICOS
        </h1>
        <h2 class="text-h2">
          ELEVA LA PROTECCIÓN DE TUS DISPOSITIVOS CON UN TOQUE DE ESTILO EXCEPCIONAL.
        </h2>
        <img class="text-alfa3" src="assets/text-alfa3.png" alt="">
        <div class="d-flex justify-content-center align-items-center">
          <button class="button-div text-center d-flex justify-content-center align-items-center">
            <span>CONTACTO</span>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div>
    <div class="text-products mt-5">
      <h3>
        NUESTROS PRODUCTOS
      </h3>
    </div>
    <div class="d-flex justify-content-center mt-4">
      <div class="products d-flex text-center justify-content-around align-items-start px-0 ">
        <div class="product">
          <img class="img-product" src="assets/products/product-1.png" alt="">
          <div class="d-block mt-2">
            <span class="title-product">Multitoma Universal de 110V</span>
          </div>
          <div class="d-block">
            <span class="value-product">$ 49.000 COP</span>
          </div>
        </div>
        <div class="product">
          <img class="img-product" src="assets/products/product-2.png" alt="">
          <div class="d-block mt-2">
            <span class="title-product">Multitoma Universal de 110V</span>
          </div>
          <div class="d-block">
            <span class="value-product">$ 49.000 COP</span>
          </div>
        </div>
        <div class="product">
          <img class="img-product" src="assets/products/product-3.webp" alt="">
          <div class="d-block mt-2">
            <span class="title-product">Multitoma Universal de 110V</span>
          </div>
          <div class="d-block">
            <span class="value-product">$ 49.000 COP</span>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center mt-5">
      <div class="products text-center d-flex justify-content-around align-items-start px-0 ">
        <div class="product">
          <img class="img-product" src="assets/products/product-4.png" alt="">
          <div class="d-block mt-2">
            <span class="title-product">Multitoma Universal de 110V</span>
          </div>
          <div class="d-block">
            <span class="value-product">$ 49.000 COP</span>
          </div>
        </div>
        <div class="product">
          <img class="img-product" src="assets/products/product-5.png" alt="">
          <div class="d-block mt-2">
            <span class="title-product">Multitoma Universal de 110V</span>
          </div>
          <div class="d-block">
            <span class="value-product">$ 49.000 COP</span>
          </div>
        </div>
        <div class="product">
          <img class="img-product" src="assets/products/product-6.webp" alt="">
          <div class="d-block mt-2">
            <span class="title-product">Multitoma Universal de 110V</span>
          </div>
          <div class="d-block">
            <span class="value-product">$ 49.000 COP</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <img class="my-3 mx-0" src="assets/plug.svg" width="auto" height="189.37px" alt="">
  <div class="">
    <div class="text-products mb-5">
      <h3>
        SOBRE NOSOTROS
      </h3>
    </div>
    <div class="d-flex justify-content-around align-items-center">
      <div class="d-flex justify-content-end" style="width: 657px;">
        <div class="">
          <img src="assets/about-us-bot.svg" alt="">
        </div>
      </div>
      <div class="text-center">
        <div class="mb-3">
          <h5>QUIÉNES SOMOS</h5>
        </div>
        <div class="text-about-us">
          <span>Somos Alfa 3 Eléctricos S.A.S. es una empresa con más de una década de experiencia, dedicada a la
            comercialización de accesorios electrónicos esenciales.
            Nos enfocamos en ofrecer soluciones de calidad y duraderas para la gestión eléctrica segura y
            eficiente. Nos esforzamos por garantizar la seguridad y
            satisfacción de nuestros clientes.</span>
        </div>
      </div>
    </div>
  </div>
</div>