<div class="box-contact d-block justify-content-center py-5">
    <div class="text-box-title">
        <h3 class="text-contact-title">
            CONTACTO
        </h3>
    </div>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-6">
                <iframe
                    src="https://www.google.com/maps/d/embed?mid=1p4pEUY8gBsqnI5skcCTglUVac77ZEBo&ehbc=2E312F&noprof=1"
                    width="640" height="480"></iframe>
            </div>
            <div class="col-6">
                <iframe
                    src="https://www.google.com/maps/d/embed?mid=1p4pEUY8gBsqnI5skcCTglUVac77ZEBo&ehbc=2E312F&noprof=1"
                    width="640" height="480"></iframe>
            </div>
        </div>
    </div>
</div>