.box-contact {
  background-color: #345b69;
}

.text-contact-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-box-title {
  width: 100%;
}
