<div class="box-contact d-block justify-content-center py-5">
    <div class="text-box-title mb-5">
        <h3 class="text-contact-title">
            CONTACTO
        </h3>
    </div>
    <div class="container sub-box-contact d-flex justify-content-center">
        <div class="row container-contact">
            <div class="col-6 d-block container-map p-0">
                <iframe style="margin: 0;"
                    src="https://www.google.com/maps/d/embed?mid=1p4pEUY8gBsqnI5skcCTglUVac77ZEBo&ehbc=2E312F&noprof=1"
                    width="640" height="480"></iframe>
            </div>
            <div class="col-6 d-flex p-0 box-text">
                <div>
                    <div class="box-sub-text">
                        <div class="title-contact">
                            PUNTO DE VENTA
                        </div>
                        <p class="subtitle-contact"><b>Dirección :</b> Tv 38A Sur, Bogotá</p>
                        <p class="subtitle-contact"><b>Telefono :</b> 3134508305</p>
                        <p class="subtitle-contact"><b>Correo electrónico :</b> ventas@alfa3electricos.com</p>
                    </div>
                    <div class="box-sub-text">
                        <div class="title-contact">
                            HORARIO DE ATENCIÓN
                        </div>
                        <p class="subtitle-contact"><b>Lunes a Viernes :</b> 8:00 a.m. - 6:00 p.m.</p>
                        <p class="subtitle-contact"><b>Sábado :</b> 8:00 a.m. - 4:00 p.m.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>