.box-contact {
  background-color: #345b69;
}

.sub-box-contact {
  width: 100%;
}

.box-text-contact {
  justify-content: center;
  align-items: center;
}

.container-contact {
  width: 100%;
}

.text-contact-title {
  color: #fff;
  text-align: center;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.box-text {
  justify-content: center;
  align-items: center;
}

.box-sub-text {
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

.title-contact {
  color: white;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}

.text-box-title {
  width: 100%;
}

.subtitle-contact {
  margin: 0;
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: left;
}

.container-map {
  width: auto;
}
