.product {
  margin-top: 25px;
  position: relative;
  width: 425px;
  height: 500px;
  border-radius: 22px;
  background-color: #d9d9d9;
  margin: 0 auto;
}

.img-product {
  margin-top: 8px;
  width: 410px;
  border-radius: 20px;
}

.title-product {
  font-family: Avenir Next;
  font-size: 20px;
  font-weight: 500;
  line-height: 27px;
  letter-spacing: 0em;
  text-align: center;
}

.value-product {
  font-family: Avenir Next;
  font-size: 24px;
  font-weight: 700;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
}

.text-products-title {
  color: #000;
  text-align: center;
  font-family: Avenir Next;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.text-box-title {
  margin-top: 44px;
  width: 100%;
  margin-bottom: 44px;
}

.box-products {
  display: grid;
  padding: 0;
  grid-gap: 25px;
  justify-content: center;
  margin-bottom: 25px;
  grid-template-columns: 1fr;
}

@media (min-width: 900px) {
  .box-products {
    grid-template-columns: repeat(2, 425px);
  }
}

@media (min-width: 1280px) {
  .box-products {
    grid-template-columns: repeat(3, 425px);
  }
}
