.user-info{
    display: flex;
    justify-content: start;
    align-items: center;
    height: 10vh;
    padding: 0 20px;
}
.employee-app{
    display: flex;
    background-color: #121212; 
    color: white;
    height: 90vh;
}