<div class="d-none d-lg-flex info justify-content-center align-items-center px-0">
    <img *ngIf="imageNow != images[0]" [src]="imageNow" alt="Image Now" class="img-now">
    <div *ngIf="imageNow == images[0]" class="text-imagen-div d-flex justify-content-center align-items-center">
        <div class="d-flebox text-center align-items-center justify-content-center">
            <h1 class="text-h1">
                ACCESORIOS ELECTRICOS
            </h1>
            <h2 class="text-h2">
                ELEVA LA PROTECCIÓN DE TUS DISPOSITIVOS CON UN TOQUE DE ESTILO EXCEPCIONAL.
            </h2>
            <img class="text-alfa3" src="assets/text-alfa3.png" alt="">
            <div class="d-flex justify-content-center align-items-center">
                <button class="button-div text-center d-flex justify-content-center align-items-center">
                    <span class="text-button">CONTACTO</span>
                </button>
            </div>
        </div>
    </div>
</div>