<div class="m-0 vh-100 row justify-content-center align-items-center">
  <div class="col-auto rounded-4" style="background-color: #121212; color: white;" >
    <div class="container m-2 row">
        <div class="col-auto p-3">
            <h1 class="text-center">APP - ANDREY DEVS</h1>
            <h6 class="text-center">REGISTRATE COMPLETAMENTE GRATIS</h6>
            <form class="pt-3 needs-">
                <div class="form-group needs-validation" novalidate>
                    <label>NOMBRE:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-user"></i></span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
                <div class="form-group">
                    <label>APELLIDO:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-user"></i></span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
                <div class="form-group">
                    <label>CEDULA:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-hashtag"></i></span>
                        <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
                <div class="form-group">
                    <label>CORREO ELECTRONICO:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-envelope"></i></span>
                        <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
                <div class="form-group">
                    <label>CONTRASEÑA:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-key"></i></span>
                        <input type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" required>
                    </div>
                </div>
                <div class="d-grid text-center py-3">
                    <button class="btn btn-primary btn-lg">REGISTRARSE</button>
                </div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col">
                            <h6 class="text-end">¿YA TIENES CUENTA?</h6>
                        </div>
                        <div class="col">
                            <a class="text-start" href="login.html"><h6>INICIA SESIÓN</h6></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
