<div class="m-0 vh-100 row justify-content-center align-items-center">
  <div class="col-auto rounded-4" style="background-color: #121212; color: white;" >
    <div class="container m-2 row">
        <div class="col-auto p-3">
            <h1 class="text-center">APP - ANDREY DEVS</h1>
            <h6 class="text-center">CREATE AN ACCOUNT</h6>
            <form [formGroup]="formGroup" (ngSubmit)="onSubmitFormRegister()" class="pt-3">
                <div class="form-group">
                    <label for="nameUser">NAME:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-user"></i></span>
                        <input id="nameUser" formControlName="nameUser" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastNameUser">LAST NAME:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-user"></i></span>
                        <input id="lastNameUser" formControlName="lastNameUser" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="form-group">
                    <label for="dniUser">DNI:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-hashtag"></i></span>
                        <input id="dniUser" formControlName="dniUser" type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="form-group">
                    <label for="emailUser">EMAIL:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-envelope"></i></span>
                        <input id="emailUser" formControlName="emailUser" type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="form-group">
                    <label for="passwordUser">PASSWORD:</label>
                    <div class="input-group mb-3">
                        <span class="input-group-text" id="inputGroup-sizing-default"><i class="fa-solid fa-key"></i></span>
                        <input id="passwordUser" formControlName="passwordUser" type="password" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
                    </div>
                </div>
                <div class="d-grid text-center py-3">
                    <button class="btn btn-primary btn-lg" [disabled]="formGroup.invalid">REGISTER</button>
                </div>
                <div class="container text-center">
                    <div class="row">
                        <div class="col-9">
                            <h6 class="text-start">ALREADY HAVE AN ACCOUNT?</h6>
                        </div>
                        <div class="col-3">
                            <a class="text-end" [routerLink]="enviromentLogin"><h6>LOGIN</h6></a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
  </div>
</div>
